@page "/review-assessment/{id}"
@inject AssessmentService AssessmentService
@inject UserService UserService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<RadzenCard Style="max-width: 1400px; margin: 2rem auto; padding: 1rem;">
    <RadzenButton Text="Back" Click="BackToAssessmentList" ButtonStyle="ButtonStyle.Light" />
    @if (assessment != null)
    {
        <RadzenHeading Size="H3" Text=@($"Assessment ID {assessment.Id.Substring(0, 3)} for Application {assessment.ApplicationID}")
                       style="font-weight: bold; color: #FFFFFF; padding: 10px 20px; margin: 10px 0; text-align: center; background-color: #00436a;" />
        <div style="margin-top: 1rem; padding: 10px; background-color: #f5f5f5; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
            <RadzenLabel Text="Assessment Type:" style="font-weight: bold; color: #333; margin-bottom: 5px;" />
            <RadzenTextBox Value="@assessment.AssessmentType" ReadOnly="true" Style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 4px; background-color: #fff;" />
        </div>
        @if (!string.IsNullOrEmpty(assessment.SolutionDesignImagePath))
        {
            <RadzenCard Style="position: relative; width:600px; height:400px; margin-top:1rem; border: 1px solid #ccc;">
                <img src="@assessment.SolutionDesignImagePath" style="width:600px; height:400px;" />
                @foreach (var pin in assessment.Pins)
                {
                    @if ((HoverPin != null && HoverPin.CapabilityId == pin.CapabilityId) || (selectedCapability!= null && pin.Capability == selectedCapability))
                    {
                        backgroundColor = "#FF0000";
                    }
                    else
                    {
                        backgroundColor = "#002337";
                    }
                    @if ((HoverPin != null && HoverPin.CapabilityId != pin.CapabilityId) || (selectedCapability != null && pin.Capability != selectedCapability))
                    {
                        backgroundColor = "#dcdcdc";
                    }

                    <div style="position: absolute; left:@(pin.X)px; top:@(pin.Y)px; width:@(pin.Width)px; height:@(pin.Height)px; background-color:@backgroundColor; border-radius:50%; cursor:default;"
                         @onpointerover="() => HoverPin = pin"
                         @onpointerout="() => HoverPin = null">
                    </div>
                }
                @if (HoverPin != null)
                {
                    <div style="position: absolute; left:@(HoverPin.X + TooltipOffsetX)px; top:@(HoverPin.Y - TooltipOffsetY)px; background-color:black; color:white; padding:4px 8px; border-radius:4px; pointer-events:none; white-space:nowrap;">
                        @HoverPin.Capability?.CapabilityName
                    </div>
                    
                }
            </RadzenCard>
        }
        <RadzenHeading Size="H4" Text="Capabilities" Style="margin-top: 1rem;" />
        <RadzenDataGrid TItem="Capability" Data="@assessment.Capabilities">
            <Columns>
                <RadzenDataGridColumn TItem="Capability" Property="Control" Title="Control">
                    <Template Context="capability">
                        <div @onmouseover="() => SelectCapability(capability)" @onmouseout="ResetSelection" style="cursor: pointer;">
                            @capability.Control
                        </div>
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Capability" Property="SubControlID" Title="SubControl ID">
                    <Template Context="capability">
                        <div @onmouseover="() => SelectCapability(capability)" @onmouseout="ResetSelection" style="cursor: pointer;">
                            @capability.SubControlID
                        </div>
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Capability" Property="CapabilityName" Title="Capability Name">
                    <Template Context="capability">
                        <div @onmouseover="() => SelectCapability(capability)" @onmouseout="ResetSelection" style="cursor: pointer;">
                            @capability.CapabilityName
                        </div>
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Capability" Property="Checked" Title="Checked">
                    <Template Context="capability">
                        <div @onmouseover="() => SelectCapability(capability)" @onmouseout="ResetSelection" style="cursor: pointer;">
                            @capability.Checked
                        </div>
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Capability" Property="Evidence" Title="Evidence">
                    <Template Context="capability">
                        <div @onmouseover="() => SelectCapability(capability)" @onmouseout="ResetSelection" style="cursor: pointer;">
                            @capability.Evidence
                        </div>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
        @if (assessment.Status != "Accepted" && assessment.Status != "Rejected" && UserService.Role != "Requester")
        {
            <div style="margin-top: 1rem;">
                <RadzenLabel Text="Justification:" />
                <RadzenTextArea @bind-Value="justification" Style="width: 100%;" />
            </div>
            <div style="margin-top: 1rem;">
                <RadzenButton Text="Accept" Click="AcceptAssessment" ButtonStyle="ButtonStyle.Primary" Style="margin-right: 10px;" />
                <RadzenButton Text="Reject" Click="RejectAssessment" ButtonStyle="ButtonStyle.Danger" />
            </div>
        }
        @if (assessment.Status == "Accepted" || assessment.Status == "Rejected")
        {
            if (assessment.Justification != null)
            {
                <div style="margin-top: 1rem;">
                    <RadzenLabel Text="Justification:" />
                    <RadzenTextBox Value="@assessment.Justification" ReadOnly="true" Style="width: 100%;" />
                </div>
            }
        }
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <RadzenAlert Severity="AlertSeverity.Error" Text="@errorMessage" Style="margin-top:1rem;" />
        }
    }
</RadzenCard>

@code {
    [Parameter] public string Id { get; set; }
    private Assessment assessment;
    private string justification;
    private string errorMessage;
    private string backgroundColor;
    private Pin HoverPin;
    private int TooltipOffsetX = 35;
    private int TooltipOffsetY = 20;
    private Capability? selectedCapability;
    protected override async Task OnInitializedAsync()
    {
        assessment = await AssessmentService.GetAssessmentByIdAsync(Id);
        if (UserService.Role == "Reviewer")
        {
            if (assessment.Status != "UnderReview" && assessment.Status != "Accepted" && assessment.Status != "Rejected")
            {
                assessment.Status = "UnderReview";
                assessment.StartReviewBy = UserService.Email;
                assessment.StartReviewAt = DateTime.UtcNow;
                await AssessmentService.UpdateAssessmentAsync(assessment);
            }
        }
    }
    private async Task AcceptAssessment() { await AssessmentService.ReviewAssessmentAsync(Id, UserService.Email, "", true); NavigationManager.NavigateTo("/review", true); }
    private void BackToAssessmentList()
    {
        NavigationManager.NavigateTo(UserService.Role == "Requester" ? "/assessments" : "/review", true);
    }
    private async Task RejectAssessment()
    {
        if (string.IsNullOrEmpty(justification))
        {
            errorMessage = "Justification is required";
            return;
        }
        await AssessmentService.ReviewAssessmentAsync(Id, UserService.Email, justification, false);
        NavigationManager.NavigateTo("/review", true);
    }
    
    void SelectCapability(Capability capability)
    {
        selectedCapability = null;
        selectedCapability = capability;
        // StateHasChanged();
    }
    
    void ResetSelection()
    {
        selectedCapability = null;
    }
}

<style>
.rz-button.rz-primary.rz-shade-default {
        background-color: #00436a;
    }

.rz-button.rz-danger.rz-shade-default {
    background-color: #f0f7fa;
    color: black;
}

.rz-button.rz-danger {
    background-color: #f0f7fa;
    color: black;
}
</style>